name: CI

on: [push, pull_request]

jobs:
  blackbox:
    uses: innmind/github-workflows/.github/workflows/black-box-matrix.yml@next
    with:
      tags: 'ci'
  coverage:
    uses: innmind/github-workflows/.github/workflows/coverage-matrix.yml@next
    secrets: inherit
    with:
      tags: 'ci'
  psalm:
    uses: innmind/github-workflows/.github/workflows/psalm-matrix.yml@next
  cs:
    uses: innmind/github-workflows/.github/workflows/cs.yml@next
